#page-wrap {
    text-align: center;
    overflow: auto;
}

.bm-item {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 2rem;
    color: #d1d1d1;
    transition: color 0.2s;
}

.bm-item:hover {
    color: white;
}

.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    right: 36px;
    top: 30px;
}

.bm-burger-bars {
    background: #373a47;
}
.bm-cross-button {
    height: 24px;
    width: 24px;
}

.bm-cross {
    background: #bdc3c7;
}

.bm-menu {
    background: rgb(25 25 25 / var(--tw-text-opacity));
    ;
    padding: 3.5em 1.5em 0;
    font-size: 1.15em;
}

.bm-morph-shape {
    fill: #373a47;
}

.bm-item-list {
    color: #b8b7ad;
}

.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 600px) {
    .ant-table-cell {
        padding: 8px !important;
    }
}